$primary-color: #0000ff;
$primary-font: Helvetica, sans-serif;

html {
    box-sizing: border-box;
    font-size: 100%
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    padding: 20px;
    background-color: #cccccc;
    color: $primary-color;
    font: $primary-font;
}